@model AleedTiendaShopping.Data.Entities.Sale


<div class="col-sm-8 order__infoc conppl">
    <dl class="  col-sm-8 conppl">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Date)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Date)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.User.FullName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.User.FullName)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.User.Email)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.User.Email)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.User.PhoneNumber)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.User.PhoneNumber)
    </dd>
    
    
</dl>
     <dl class=" col-sm-4">
    
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.OrderStatus)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.OrderStatus)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Lines)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Lines)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Quantity)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Quantity)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Value)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Value)
    </dd>
</dl>

</div>
<div class="col-sm-4 order__infoc coment_sl">
           <dl class=" col-sm-12">
           <dt class = "col-sm-12">
        @Html.DisplayNameFor(model => model.Remarks)
    </dt>
    <dd class = "col-sm-12 conten__comentario">
        @{
                    if (Model.Remarks != null)
                    {
                        string[] noteWords = Model.Remarks.Split(' ');
                        if (noteWords.Count() > 7)
                        {
                            <a class="links_s" role="button" data-bs-toggle="collapse" href="#collapseSum@(Model.Id)" aria-expanded="false" aria-controls="collapseSum@(Model.Id)">
                                @(string.Join(" ", noteWords.Take(7)) + "...")
                            </a>
                            <div class="collapse " id="collapseSum@(Model.Id)">
                                <div class="card card-body bg-light coll-respo">
                                    @(string.Join(" ", noteWords.Skip(7)))
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => Model.Remarks);
                        }
                    }
                }
    </dd>
       </dl>

</div>
