@model AleedTiendaShopping.Models.AddProductToCartViewModel

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

 <link  rel="stylesheet" href="~/css/normalize.css"/>
   <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
   <link  rel="stylesheet" href="~/css/HomeStyle.css"/>
   <link  rel="stylesheet" href="~/css/swiper-bundle.min.css"/>
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="row content__info">

    <div class="col-md-6">
        <div id="ImagesCarousel" class="carousel slide conten__imagescard" data-ride="carousel">

            <div class="carousel-inner img_productcard zoom">
                @{
                    var first = true;
                }
                @foreach (var item in @Model?.ProductImages)
                {
                    <div class="carousel-item  @(first?Html.Raw("active"):Html.Raw(""))">
                        <img class="d-block w-100   img__carrousel " src="@item.ImageFullPath" alt="@item.Id">
                    </div>
                    first = false;
                }
            </div>
            <a id="ImagesCarouselPrev" class="carousel-control-prev  " href="#ImagesCarousel" role="button"
               data-slide="prev">
                <i class="fa-solid fa-caret-left prev__Color"></i>
            </a>
            <a id="ImagesCarouselNext" class="carousel-control-next " href="#ImagesCarousel" role="button"
               data-slide="next">
               <i class="fa-solid fa-caret-right prev__Color"></i>
            </a>
            <div class="contentenedor__carro">
     
</div>
        </div>
    </div>
    <div class="col-md-6 ">
         <h1>@Model?.Name</h1>
         <div class="info__droduct col-md-12">
             <div class="information__part">
              <label class="control-label information__title"> @Html.DisplayNameFor(model => model.Description):</label>
               <p>@Html.DisplayFor(model => model.Description)</p>
            </div>
          </div>
           <div class="info__droductb col-md-12">
            
             
            <div class="information__partb col-md-6  iformpt">
              <label class="control-label information__title">  @Html.DisplayNameFor(model => model.Price):</label>
               <p>@Html.DisplayFor(model => model.Price)</p>
            </div>
             <div class="information__partb col-md-6 iformpts">
              <label class="control-label information__title">  @Html.DisplayNameFor(model => model.Stock):</label>
               <p>@Html.DisplayFor(model => model.Stock)</p>
            </div>
           
           
           </div>

           
            

    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    let refresh = document.getElementById('refresh');
refresh.addEventListener('click', _ => {
            location.reload();
})
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ImagesCarousel").carousel();
        $("#ImagesCarouselPrev").click(function(){
            $("#ImagesCarousel").carousel("prev");
        });
        $("#ImagesCarouselNext").click(function(){
            $("#ImagesCarousel").carousel("next");
        });
    });


</script>
}
